@model IEnumerable<ABCShoppingMall.Models.FoodCourt>
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - Product Listing Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/Hexashop/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Hexashop/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/Hexashop/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/Hexashop/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/Hexashop/assets/css/lightbox.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="~/Hexashop/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">  @Html.ActionLink("Home", "Login", "AdminDashboard")</li>
                            <li class="scroll-to-section">  @Html.ActionLink("Shop", "Index", "ShoopingProduct")</li>
                            <li class="scroll-to-section">  @Html.ActionLink("Food Court", "Login", "AdminDashboard")</li>
                            <li class="scroll-to-section">  @Html.ActionLink("Gallery", "Login", "AdminDashboard")</li>
                            <li class="submenu">
                                <a href="javascript:;">Cinema</a>
                                <ul>
                                    <li> @Html.ActionLink("Multiplex", "Login", "AdminDashboard")</li>
                                    <li>@Html.ActionLink("Movies", "Login", "AdminDashboard")</li>
                                    <li>@Html.ActionLink("Tickets", "Login", "AdminDashboard")</li>

                                </ul>
                            </li>

                            <li class="scroll-to-section">  @Html.ActionLink("Admin", "Login", "AdminDashboard")</li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Shops</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Products Area Starts ***** -->
    <!-- ***** Products Area Ends ***** -->

    <div>
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/Hexashop/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Hexashop/assets/js/popper.js"></script>
    <script src="~/Hexashop/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/Hexashop/assets/js/owl-carousel.js"></script>
    <script src="~/Hexashop/assets/js/accordions.js"></script>
    <script src="~/Hexashop/assets/js/datepicker.js"></script>
    <script src="~/Hexashop/assets/js/scrollreveal.min.js"></script>
    <script src="~/Hexashop/assets/js/waypoints.min.js"></script>
    <script src="~/Hexashop/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Hexashop/assets/js/imgfix.min.js"></script>
    <script src="~/Hexashop/assets/js/slick.js"></script>
    <script src="~/Hexashop/assets/js/lightbox.js"></script>
    <script src="~/Hexashop/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/Hexashop/assets/js/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>

</html>

