@model IEnumerable<ABCShoppingMall.Models.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<div class="container" style="margin-left:260px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery_Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gallery_Detail)
                </td>
                <td>

                    <img src="@Url.Content(item.Image)" width="50" height="50" class="img-rounded" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>